:root {
  --color-white: #fff;
  --color-black: #000;
  --color-carnation: #f77169;
  --color-salmon: #fc836a;
  --color-purple: #7623d3;
  --color-persian: #f61895;
  --color-portica: #f6d86f;
  --color-nevada: #656b72;
  --color-mako: #3c4044;
  --color-shark: #25292c;
  --color-shark2: #202427;
  --color-shark3: #1c1f22;
  --color-shark4: #1a1d20;
}