.nav {

  &__list {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__link {
    font: 500 15px / 18px "Inter";
    color: var(--color-nevada);
  }

  &__btn {
    display: block;
    margin-top: 10px;
    width: 30px;
    height: 30px;

    span {
      position: relative;
      display: block;
      width: 24px;
      height: 1px;
      background-color: var(--color-white);

      &::before {
        content: "";
        top: -6px;
        left: 0;
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: var(--color-white);
      }

      &::after {
        content: "";
        bottom: -6px;
        left: 0;
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: var(--color-white);
      }
    }
  }
}